.row {
    @include flexbox;
}

.col {
    width: 100%;
}

@media all and (min-width: $medium) {
    .col-md-50 {
        width: 50%;
    }
}

@media all and (min-width: $large) {
    .col-lg-25 {
        width: 25%;
    }
}