%btn {
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 30px;
    border: none;
}

.btn-primary {
    @extend %btn;
    background-color: $primary-color;

    &:hover {
        background-color: $button-bg;
    }
}

.btn-secondary {
    @extend %btn;
    background-color: $button-bg;

    &:hover {
        background-color: $primary-color;
    }
}

.btn-form {
    @extend %btn;
    background-color: #fff;
    color: $secondary-color;
    font-weight: 700;
    width: auto;

    &:hover {
        background-color: $button-bg;
        color: #fff;
    }
}