* {
    box-sizing: border-box;
}

body {
    font-family: $primary-font;
    color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
    color: $secondary-color;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 22px;
}

a,
input[type='submit'] {
    transition: all .3s;
}

section {
    padding: 30px 0;

    .section-header {
        text-align: center;
        margin-bottom: 40px;

        p {
            margin: auto;
            font-weight: 300;
        }

        @media all and (min-width: $medium) {
            p {
                max-width: 70%;
            }
        }
    }
}

p {
    line-height: 1.5;
}

.container {
    width: 100%;
    max-width: $small-container;
    margin: 0 auto;
    padding: 0 25px;
}

//=====> 992px
@media all and (min-width: $large) {
    section {
        padding: 60px 0;
    }

    .container {
        max-width: $large-container;
    }
}

//=====> 1200px
@media all and (min-width: $extra-large) {
    .container {
        max-width: $extra-large-container;
    }
}